// userCustomHelps.scss  帮助组件

//变量定义
$border:1px solid #e9e9e9; //边框
$highborder:1px solid #3491eb; //边框
$pageBackground:#f9f9f9; //页面背景色
$intBackground:#fff; //模块背景色
$fontFamily:"微软雅黑,microsoft yahei"; //字体
$color:#666666; //字体颜色
$highColor:#3491eb; //高亮颜色
$tableHeaderBackground: #f5f7fa;
$statusNormalColor:#10ad57; //表格状态的正常颜色
$statusAbnormalColor:#ffb82b; //表格状态的异常颜色
$operationNormalColor:#20a0ff; //表格操作的正常颜色
$operationAbnormalColor:#ff4949; //表格操作的删除颜色


.userCustomHelpsPage {
  width: 100%;
  font-family: $fontFamily;
  color: $color;
  .userCustomHelpsPageContent{
    width:100%;
    overflow: hidden;
    background: $intBackground;
    .el-tabs{
      .el-tabs__header{
        margin: 0 16px 8px 16px;
      }
      // 多指标帮助
      .userCustomHelpsPageContent-moreIndicators{
        height: 100%;
        overflow: hidden;
        .userCustomHelpsPageContent-moreIndicators__left{
          width: calc(30% - 45px);
          margin: 11px 6px 12px 16px;
          padding: 0 10px;
          float: left;
          border: 1px solid #e9e9e9;
          border-radius: 4px;
          overflow: auto;
          .el-input{
            padding: 13px 0 10px 0;
            .el-input__inner{
              height: 28px;
              border-radius: 0;
              font-size: 12px;
            }
          }
          .el-tree{
            font-size: 13px;
          }
          .userCustomHelpsPageContent-filterTree{
            overflow: auto;
          }
        }
        .userCustomHelpsPageContent-moreIndicators__right{
          width: calc(70% - 23px);
          margin: 11px 16px 12px 6px;
          float: left;
          border: 1px solid #e9e9e9;
          border-radius: 4px;
          .userCustomHelpsPageContent-moreIndicators__rightTitle{
            height: 40px;
            line-height: 40px;
            border-bottom: $border;
            font-size: 14px;
            padding-left: 20px;
          }
          .userCustomHelpsPageContent-moreIndicators__content{
            font-size: 14px;
            padding: 11px 16px;
            overflow: auto;
            font-family: initial;
            line-height: 1.5;
            .el-table{
              th{
                padding: 10px 0;
                background: #f5f7fa;
              }
              td{
                padding: 4px 0;
                .cell{
                  font-size: 12px;
                }
              }
            }
          }
        }

      }
      // 段落帮助
      .userCustomHelpsPageContent-paragraphs{
        height: 100%;
        overflow: hidden;
        .userCustomHelpsPageContent-paragraghs__left{
          width: calc(30% - 45px);
          margin: 11px 6px 12px 16px;
          padding: 0 10px;
          float: left;
          border: 1px solid #e9e9e9;
          border-radius: 4px;
          overflow: auto;
          .el-input{
            padding: 13px 0 10px 0;
            .el-input__inner{
              height: 28px;
              border-radius: 0;
              font-size: 12px;
            }
          }
          .el-tree{
            font-size: 13px;
          }
          .userCustomHelpsPageContent-filterTree{
            overflow: auto;
          }
        }
        .userCustomHelpsPageContent-paragraghs__right{
          width: calc(70% - 23px);
          margin: 11px 16px 12px 6px;
          float: left;
          border: 1px solid #e9e9e9;
          border-radius: 4px;
          .userCustomHelpsPageContent-paragraghs__rightTitle{
            height: 40px;
            line-height: 40px;
            border-bottom: $border;
            font-size: 14px;
            padding-left: 20px;
          }
          .userCustomHelpsPageContent-paragraghs__rightContent{
            font-size: 14px;
            padding: 10px 20px;
            overflow: auto;
            font-family: initial;
            line-height: 1.5;
          }
        }
      }
      // 单句简述帮助
      .userCustomHelpsPageContent-oneIndicators{
        margin: 8px 16px;
        display: flex;
        p{
          flex: 1;
        }
      }
      // 图文帮助
      .userCustomHelpsPageContent-graphic{
        padding: 11px 16px;
        h1,h2,h3,h4,h5,ul,li{
          list-style: none;
        }
        .userCustomHelpsPageContent-graphic__ul{
          .userCustomHelpsPageContent-graphic__li{
            cursor: pointer;
            margin: 0 0 12px 0;
            padding: 8px;
            border: 1px solid rgb(230, 236, 241);
            box-shadow: rgba(116, 129, 141, 0.1) 0px 3px 8px 0px;
            border-radius: 6px;
            .userCustomHelpsPageContent-graphic__liTitle{
              font-size: 18px;
              font-weight: 700;
              height: 36px;
              line-height: 36px;
              border-bottom: $border;
            }
            .userCustomHelpsPageContent-graphic__content{
              display: flex;
              position: relative;
              padding: 10px 0;
              .userCustomHelpsPageContent-graphic__imgBox{
                border: 1px solid #e9e9e970;
                margin: 0 10px 0 0;
                padding: 0;
                width: 200px;
                height: 100px;
                flex: 1;
                overflow: hidden;
                .userCustomHelpsPageContent-graphic__img{
                  padding: 0;
                  margin: 0 10px 0 0;
                  width: 100%;
                  height: 100%;
                  cursor: pointer;
                  transition: all 1s;  
                  &:hover{
                    transform: scale(1.2);
                  }
                }
              }
              .userCustomHelpsPageContent-graphic__contentText{
                margin: 0 0 8px 0;
                flex: 4;
              }
            }
          }
        }
      }
    }
  }
}
.userCustomHelpsPageContent-graphic__dialog .el-dialog{
  margin-bottom: 2% !important;
  .userCustomHelpsPageContent-graphic__imgInnerVisible{
    .el-dialog__body{
      padding: 20px;
    }
    img{
      border:1px solid #e9e9e9;
      max-width: 100%;
    }
  }
}
