// userCustomProgress.scss  进度条组件

//变量定义
$border:1px solid #e9e9e9; //边框
$highborder:1px solid #3491eb; //边框
$pageBackground:#f9f9f9; //页面背景色
$intBackground:#fff; //模块背景色
$fontFamily:"微软雅黑,microsoft yahei"; //字体
$color:#666666; //字体颜色
$highColor:#3491eb; //高亮颜色
$tableHeaderBackground: #f5f7fa;
$statusNormalColor:#10ad57; //表格状态的正常颜色
$statusAbnormalColor:#ffb82b; //表格状态的异常颜色
$operationNormalColor:#20a0ff; //表格操作的正常颜色
$operationAbnormalColor:#ff4949; //表格操作的删除颜色


.userCustomProgressPage {
  width: 100%;
  font-family: $fontFamily;
  color: $color;
  .userCustomProgressPage-tabs{
    background: $intBackground;
    padding: 10px;
    .el-button{
      height: 26px;
      padding: 0 5px;
      border-radius: 0;
    }
    .userCustomProgressPage-tabs__lineProgress{
      width: 50%;
      .el-progress{
        margin: 8px 5px 10px 5px ;
      }
    }
    .userCustomProgressPage-tabs__circleProgress{
      width: 80%;
      .el-progress{
        margin: 8px 5px 10px 5px ;
      }
    }
  }

  .pageTipsIcon {
    position: absolute;
    top: 11px;
    right: 20px;
    color: $highColor;
  }
}
