/*--- D3关系网络 --- */
/* 
	1.节点原色 .attr('fill', '#37a2da')   
*/



.containerButton {
	padding: 5px;
}

.c_btn {
	background: #FCFCFC;
	border: 1px solid #D9D9D9;
	border-radius: 4px;
	width: 65px;
	height: 26px;
	padding: 0px;
	margin: 0 2px;
	cursor: pointer;
	font-family: "micsoroft yahei"
}

.c_btn:focus {
	outline: none;
}

.c_btn.c_logbtn {
	width: 95px;
}

.c_btn:hover {
	background: #3491EB;
	border-radius: 4px;
	color: #fff;
	border: 1px solid #3491EB;
}

.nodeDialogForm {
	text-align: left;
}

.addNodeDialog,
.addLineDialog {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	display: none;
	overflow: hidden;
	color: #666;
}

.add_form {
	overflow: hidden;
	padding: 30px 0 20px 0;
}

.add_form .add_item {
	overflow: hidden;
	height: 40px;
	width: 100%;
	margin-bottom: 10px;
	white-space: nowrap;

}

.addNodeLabel {
	font-size: 12px;
	width: 35%;
	display: block;
	white-space: nowrap;
	float: left;
	text-align: right;
	padding-right: 10px;
	height: 28px;
	line-height: 28px;
	font-family: "micsoroft yahei"
}

.addNodeContent {
	white-space: nowrap;
	font-size: 12px;
	width: 220px;
	height: 28px;
	padding: 0 5px;
	line-height: 28px;
	border: 1px solid #e9e9e9;
	border-radius: 4px;
	display: block;
	float: left;
	text-align: left;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}

.addNodeContent:focus {
	outline: none;
}

.add_node_btns {
	clear: both;
	text-align: center;
	margin-top: 15px;
}

.lineSelcet {
	white-space: nowrap;
	font-size: 12px;
	width: 220px;
	height: 28px;
	padding: 0 5px;
	line-height: 28px;
	border: 1px solid #e9e9e9;
	border-radius: 4px;
	display: block;
	float: left;
	text-align: left;
	cursor: pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}

.lineSelcet:focus {
	outline: none;
}

.lineName {
	white-space: nowrap;
	font-size: 12px;
	width: 210px;
	height: 28px;
	padding: 0 5px;
	line-height: 28px;
	border: 1px solid #e9e9e9;
	border-radius: 4px;
	display: block;
	float: left;
	text-align: left;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}

.lineName:focus {
	outline: none;
}

.lineSelcet option {
	display: block;
	width: 220px;
	height: 28px;
	line-height: 28px;
	font-size: 12px;
	color: #666;
	cursor: pointer;
}

.lineSelcet option:focus {
	outline: none;
}

.dialogContainerDiv {
	position: absolute;
	left: 25%;
	top: 24%;
	width: 50%;
	height: 50%;
	background: #fff;
	overflow: auto;
}

.showDialog_box {
	height: 36px;
	line-height: 36px;
	border-bottom: 1px solid #e9e9e9;
	padding: 0 10px;
}

.dialog_header_title {
	float: left;
}

.dialogClose {
	float: right;
	cursor: pointer;
}

.dialogSvgBox {
	height: calc(100% - 57px);
	padding: 10px;
}

.node {
	cursor: move;
	
}

.node.node_active {
	cursor: move;
	/* fill: rgb(56, 161, 218) ; */
}

.node.node_noactive {
	/* fill: rgb(242, 246, 255); */
}

.nodeline {
	stroke: rgb(247, 66, 66);
	stroke-width: 2px;
	cursor: pointer;
}

.nodeline.nodeline_active {
	stroke: rgb(247, 66, 66);
}

.nodeline.nodeline_noactive {
	stroke: rgb(255, 239, 239) ;
	/* opacity: 0.2; */
}
.nodetext{
	font-size: 12px;
	font-family: "micsoroft yahei"
}
.nodetext_noactive{
	fill: #ccc;
	font-size: 12px;
}
.nodetag{
	fill: #666;
	font-size: 12px;
}

.clickTxt {
	float: left;
	font-family: "micsoroft yahei"
}

.search {
	float: left;
}

.search .el-select .el-input__inner {
	cursor: auto;
}

.linknodeName {
	border: 1px solid #e9e9e9;
	padding: 5px;
	border-radius: 4px;
	min-height: 28px;
	width: 180px;
}

.linknodeName .el-radio+.el-radio {
	padding: 0;
	margin: 0;
}

.linetext {
	font-size: 12px;
	font-family: "micsoroft yahei"
}

.rightMenu {
	width: auto;
	position: absolute;
	background: #fff;
	border-radius: 4px;
}

.rightMenu ul {
	width: 100%;
	padding-left: 0;
	margin: 0;
	list-style: none;
	display: none;
	border-bottom: 0px;
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}

.rightMenu ul li {
	height: 30px;
	font-size: 14px;
	color: #666;
	line-height: 30px;
	cursor: pointer;
	text-align: left;
	padding: 0 10px;
	border-bottom: 1px solid #ebeef5;
}

.rightMenu ul li:hover {
	color: #3491eb;
	background: rgba(228, 225, 225, 0.4);
}

#add_dialog {
	padding: 20px 20px 0 20px;
}

.nodesShowDialog {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	display: none;
}

.nodesShowDialogDiv{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	overflow: auto;
}

.dialog_header {
	height: 36px;
	line-height: 36px;
	border-bottom: 1px solid #e9e9e9;
	padding: 0 10px;
}

.dialog_header_title {
	float: left;
}

.showDialog_close {
	float: right;
	cursor: pointer;
}
.showDialog_box_title {
	height: 36px;
	line-height: 36px;
	border-bottom: 1px solid #e9e9e9;
	padding: 0 10px;
}

.showDialog_box_title_left {
	float: left;
}

.showDialog_close {
	float: right;
	cursor: pointer;
}